@media screen and (max-width: 1921px) and (min-width: 1366px){
    html{
        min-height: 88%;
    }
    .nav-item{
        left: 13%;
    }
/*    Index.html*/
    .hero{
        background-size: cover;
        height:1005px;
        position: relative;
        bottom: 0;
    }
    .hero-content{
        position: absolute;
	    left:35%;
	    top:39%;
        padding:50px;
    }
/*    END of Index.html*/
    
/*    About.html*/
    #sub-menu-1{
        top:59px;
        left: 450px;
    }
    .about-img{
        left:42%;
    }
    .about-name{
        left:41%;
    }
    .about-text{
        padding: 0px 50px;
    }
    .line{
        width:90%;
    }
    .sites-container{
        height:1550px;
    }
    .sites-col-1{
        position:absolute;
        left:7%;
    }
    .sites-col-2{
        position: absolute;
        width: 44%;
        left: 56%;
    }
    .sites-images{
        width:87%;
    }
    .sites-txt{
        margin-top:4%;
        margin-bottom: 10%;
        right: 4%;
        line-height:0;
    }
    .ccbc-gap{
        margin-bottom: 13.5%;
    }
/*    END of about.html*/
    
/*    Contact.html*/
    .form-area{
        width:50%;
    }
    .center-img{
        left:16%;
    }
}

/*For mobile NAV*/
@media screen and (max-width: 769px) and (min-width: 320px){
/*    hiding old Navbar*/
.main-nav{
    display: none;
    }
    
/*    Showing New Mobile Nav */
.mobile-navbar{
  z-index: 100;
  display: block;
  width: 100%;
  height: 75px;
  background: rgba(58, 126, 227, 1);
  position: fixed;
  top: 0;
  left: 0;
}
#hamburger{
  position: fixed;
  right: 1%;
  top: 1.4px;
  display: inline-block;
  background: #3A53C5;
  border-radius: 50%;
  cursor: pointer;
}
.mob-main-item{
  width: 72px;
  height: 72px;
  position: relative;
}
.ham-ln{
  position: absolute;
  height: 4px;
  width: 41%;
  border-radius: 10px;
  left: 29%;
  background-color: white;
  transition: all cubic-bezier(0.25, 0.1, 0.28, 1.54) 0.32s;
}
.ln01{
  top:34%;
}
.ln02{
  top:49%;
}
.ln03{
  top:63%;
}
.mob-menu.close .ln01{
  transform: rotate(45deg);
  top: 47.6%;
  left: 27%;
}
.mob-menu.close .ln02, .mob-menu.close .ln03 {
  transform: rotate(-45deg);
  top: 48%;
  left: 28%;
    }
/*    Main Mobile Content*/
    .mob-div-nav{
        z-index: 1;
        width: 100%;
/*        margin-top:75px;*/
        background-color: rgba(0, 0, 0, .8);
        position: fixed;

/*        height:100px;*/
    }
    .mob-nav-links a{
        display: block;
        text-align: center;
        padding:20px;
        text-decoration: none;
        color:white;
        font-weight: normal;
    }
    .mob-nav-links a:hover{
        background-color: rgba(120, 120, 120, .8);
    }
    .hero{
        margin-top: 75px;
        margin-bottom: 75px;
        width: 100%;
        height: 874px;
        display: block;
    }
    .hero-content{
        left:11%;
        top:41%;
        padding:2%;
        display: block;
    }
    .welcome-line{
        width: 35%;
        padding: 0;
        margin: 3% 33%;
    }
    .social-media{
        left:42%;
    }
/*    About Page*/
    .about-img{
        left:32%;
    }
    .about-name{
        left:28%;
    }
/*    contact page*/
    .contact-container{
        display: block;
        height:1750px;
    }
    .contact-form{
        left: 19%;
        top: -1%;
    }
    .form-area{
        width: 122%;
    }
    .contact-info{
        left: 19%;
        top: 35%;
    }
    .contact-info h1{
        position: relative;
        left: 17%;
    }
    .contact-info hr{
        position: relative;
        left: 17%;
        width: 126%;
    }
    .map{
        left:-5%;
    }
    
/*    PRICING Page*/
    .pricing-container{
        height:1600px;
    }
    .price-col-1, .price-col-2, .price-col-3{
            z-index: 0;
            display: block;
/*            padding: 0 20px;*/
            padding:0;
            margin:0;
            position: relative;
            width: 90%;
            left: 0%;
            top: 0%;
    }
    .price-content{
        float:left;
        left:6%;
        padding:0;
        margin:0;
    }
    .price-logos{
        width: 26%;
        left: 42%;
    }
    .paypal-embed-code{
        left:38%;
    }
   
}

/*For iphone 7 and 7+ */
@media screen and (max-width: 415px) and (min-width: 320px){
    .small-page-header{
        height: 157px;
        
    }
    .welcome-abt-ln{
        top: 2.8%;
        width: 60%;
        font-size: 27px;
        left: 14%;
    }
    .unsubscribe{
        width:75%;
    }
    .paypal-unsub {
    top: 78%;
    position: relative;
    left: 15%;
    }
    .price-logos{
        width: 39%;
        left: 37%;
    }
    .unsubscribe h3{
        text-align: left;
    }
    .footer-content{
        display: inline;
    }
    .social-media{
        left: 30%;
        top: 1%;
    }
    .copyright{
        position: absolute;
        left: 27%;
        top: 46%;
        font-size: 14px;
    }
    .hero{
        height:493px;
    }
    .hero-content{
        top: 31%;
        left: 11%;
        width: 75%;
    }
    .welcome-line{
        left: -20%;
        position: relative;
    }
    .img-cm{
        height:200px;
    }
    .about-img{
        left:19%;
        
    }
    .name-cm{
        font-size: 43px;
    }
    .about-name{
       left:6%; 
       top:9%;    
    }
    .line{
        margin-top: 123%;
        margin-bottom: 12%;
        
    }
    .about-txt{
        text-align: center;
    }
}