@media screen and (max-width: 1921px) and (min-width: 1366px){
    
    html{
        min-height: 88%;
    }
    .nav-item{
        left: 13%;
    }
/*    Index.html*/
    .hero{
        background-size: cover;
        height:1005px;
        position: relative;
        bottom: 0;
    }
    .hero-content{
        position: absolute;
	    left:35%;
	    top:39%;
    }
/*    END of Index.html*/
    
/*    About.html*/
    #sub-menu-1{
        top:59px;
        left: 450px;
    }
    .about-img{
        left:42%;
    }
    .about-name{
        left:41%;
    }
    .about-text{
        padding: 0px 50px;
    }
    .line{
        width:90%;
    }
    .sites-container{
        height:1550px;
    }
    .sites-col-1{
        position:absolute;
        left:7%;
    }
    .sites-col-2{
        position: absolute;
        width: 44%;
        left: 56%;
    }
    .sites-images{
        width:87%;
    }
    .sites-txt{
        margin-top:4%;
        margin-bottom: 10%;
        right: 4%;
        line-height:0;
    }
    .ccbc-gap{
        margin-bottom: 13.5%;
    }
/*    END of about.html*/
    
/*    Contact.html*/
    .form-area{
        width:50%;
    }
    .center-img{
        left:16%;
    }
}

/*For mobile NAV*/
@media screen and (max-width: 769px) and (min-width: 320px){
.main-nav{
    display: none;
    }
.mobile-navbar{
  display: block;
  width: 100%;
  height: 75px;
  background: rgba(58, 126, 227, 1);
  position: fixed;
  top: 0;
  left: 0;
}
#hamburger{
  position: fixed;
  right: 1%;
  top: 1.4px;
  display: inline-block;
  background: #3A53C5;
  border-radius: 50%;
  cursor: pointer;
}
.mob-main-item{
  width: 72px;
  height: 72px;
  position: relative;
}
.ham-ln{
  position: absolute;
  height: 4px;
  width: 41%;
  border-radius: 10px;
  left: 29%;
  background-color: white;
  transition: all cubic-bezier(0.25, 0.1, 0.28, 1.54) 0.32s;
}
.ln01{
  top:34%;
}
.ln02{
  top:49%;
}
.ln03{
  top:63%;
}
.mob-menu.close .ln01{
  transform: rotate(45deg);
  top: 47.6%;
  left: 27%;
}
.mob-menu.close .ln02, .mob-menu.close .ln03 {
  transform: rotate(-45deg);
  top: 48%;
  left: 28%;
}
}