/*Pricing Area Starts Here*/
.pricing-container{
  display: inline-block;
  width: 100%;
  position:relative;
  margin-bottom: 240px;
  
  /*padding:0 40px;*/
}
.col-border{
  display: none;
  border-left: gray 3px solid;
  border-right: gray 3px solid;
  border-bottom: gray 3px solid;
  border-top: #3A53C5 6px solid;
}/*
.price-col-1{
    z-index: 0;
    display: inline-grid;
    padding: 0 20px;
    position: relative;
    width: 20%;
    left: 10%;
    top: 10%;

}
.price-col-2{
  display: inline-grid;
    padding: 0 20px;
    position: relative;
    width: 20%;
    left: 15%;
    top: 10%

}
.price-col-3{
  display: inline-grid;
    padding: 0 20px;
    position: relative;
    width: 20%;
    left: 19%;
    top: 10%;

}
.price-content{
    display:none;
    padding: 5px;
    position: relative;
    left: 6%;
} */
.price-col-1, .price-col-2, .price-col-3{
            z-index: 0;
            display: block;
            padding:0;
            margin:0;
            position: relative;
            width: 86%;
            left: 13%;
            top: 0%;
    }
    .price-content{
        float:left;
        position: relative;
        left:0;
        padding:0;
        margin:0;
    }
#price-content-2, #price-content-3{
    left:-8%;
}
.price-logos{
  width: 20%;
  position: relative;
  left: 32%;
  margin-top:5px;
  margin-bottom: 10px;
}
.price-logos:hover{
    cursor: pointer;
}
.payment-type{
  position:relative;
  left: -1%;
  text-align: center;
}
.payment-price{
  position:relative;
  left: -1%;
  text-align: center;
}
.price-clr{
  color: #279C2E;
}
.payment-desc{
  position: relative;
    left: 0%;
    padding: 0 5px;
    text-align: center;
    line-height: 26px;
}
.paypal-embed-code{
  position:relative;
  left:22%;
  width:185px;
}
.spacer-even-pay{
  width:auto;
  margin-top: 60px;
}
.unsubscribe{
  display: block;
    position: absolute;
    width: 350px;
    height: 150px;
    /* bottom: 32%; */
    left: 5%;
    bottom: 4%;
}
.unsubscribe hr{
  width:95%;
  margin-bottom: 50px;
}
.unsubscribe h3{
  position:absolute;
  left:35px;
  text-align: justify;
}
.paypal-unsub{
  top: 61%;
    position: relative;
    left: 11%;
}
/*Pricing Area ENDS*/
