/*Pricing Area Starts Here*/
.pricing-container{
  display: inline-block;
  width: 100%;
  position:relative;
  height: 1400px;
  
  /*padding:0 40px;*/
}
.col-border{
    display: none;
 border-left: gray 3px solid;
  border-right: gray 3px solid;
  border-bottom: gray 3px solid;
  border-top: #3A53C5 6px solid;
}
.price-col-1{
    z-index: 0;
    display: inline-grid;
    padding: 0 20px;
    position: relative;
    width: 20%;
    left: 10%;
    top: 10%;
  /*margin-right: 20px;*/
}
.price-col-2{
  display: inline-grid;
    padding: 0 20px;
    position: relative;
    width: 20%;
    left: 15%;
    top: 10%
  /*margin-right: 20px;*/
}
.price-col-3{
  display: inline-grid;
    padding: 0 20px;
    position: relative;
    width: 20%;
    left: 19%;
    top: 10%;
  /*margin-right: 20px;*/
}
.price-content{
    display:none;
    padding: 5px;
    position: relative;
    left: 6%;
}
/*
#price-content-1{
    display: block;
}
#price-content-2{
    display: block;
}
#price-content-3{
    display: block;
} */
.price-logos{
  width: 74%;
  position: relative;
  left: 19%;
  margin-top:5px;
  margin-bottom: 10px;
}
.price-logos:hover{
    cursor: pointer;
}
.payment-type{
  position:relative;
  left: -1%;
  text-align: center;
}
.payment-price{
  position:relative;
  left: -1%;
  text-align: center;
}
.price-clr{
  color: #279C2E;
}
.payment-desc{
  position: relative;
    left: -2%;
    padding: 0 5px;
    text-align: center;
    line-height: 26px;
}
.paypal-embed-code{
  position:relative;
  left:22%;
  width:185px;
}
.spacer-even-pay{
  width:auto;
  margin-top: 60px;
}
.unsubscribe{
  display: block;
    position: absolute;
    width: 350px;
    height: 150px;
    /* bottom: 32%; */
    left: 5%;
    top: 86%;
}
.unsubscribe hr{
  width:95%;
  margin-bottom: 50px;
}
.unsubscribe h3{
  position:absolute;
  left:35px;
  text-align: justify;
}
.paypal-unsub{
  top: 61%;
    position: relative;
    left: 11%;
}
/*Pricing Area ENDS*/
